<div class="container">.
<div class ="row">
  <div class="span12">
    <section>
      <h1 class="center">
        Hello, <%= @user.name %>
      </h1>
    </section>
    <% if @user.projects.any? %>
      <h3>Projects (<%= @user.projects.count %>)</h3>
      <ul class="projects" id="projects">
        <%= render @projects %>
      </ul>
    <% end %>
      <div class="center">
      <%= render 'projects/project_form' %>
      </div>
  </div>
</div>
</div>