  <div class="pull-right udbar hidebar">
  <span class="edit">
      <%= fa_icon "pencil 1x" %>
  </span>
  <span class="destroy">
  <%=link_to target, method: :delete, data: { confirm: 'Are you sure?' }, remote: true do
      fa_icon "trash 1x"
      end %>
  </span>
  </div>